<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJp-o1cwveYrdysth1udG_9oK4DO0K0SE</string>
	<key>GCM_SENDER_ID</key>
	<string>31218714361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appifylab.app</string>
	<key>PROJECT_ID</key>
	<string>appifylab-b8a18</string>
	<key>STORAGE_BUCKET</key>
	<string>appifylab-b8a18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31218714361:ios:335885924faddbe07dc428</string>
</dict>
</plist>